.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogItems {
	padding: 10px;
}

.dialog {
	text-decoration: none;
	color: white;
}

.dialogItems .active {
	color: gold;
}

.messages {
	padding: 10px;
}

.message {

}